<div class="jumbotron fluid mt-5">
    <h1 class="display-4 text-center">
        Notes App - Node js - MongoDB
    </h1>
    <hr class="my-4">
    <p class="lead">Esta é um aplicação de estudos desenvolvida em Node js, com Express js, handlebars, Bootstrap, banco de dados
        Mongodb e autenticação utilizando passport js. </p>
    

</div>