<div class="card text-center form-signin mt-5">

    <div class="card-header">
        <h4>Cadastrar Usuário</h4>


        <form action="/users/register" method="POST">
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                </div>
                <button class="btn btn-primary btn-block">Cadastrar</button>
            </div>
        </form>

    </div>
</div>